<section class="contact-touch section-pt" data-animated-id="1">
    <div class="container">
        <div class="section-capture text-center animate__fadeIn animate__animated" data-animate="animate__fadeIn">
            <div class="section-title">
                <h2 class="section-heading">Get in touch</h2>
            </div>
        </div>
        <div class="row row-mtm text-center">
            <div class="col-12 col-md-4 animate__fadeIn animate__animated" data-animate="animate__fadeIn">
                <div class="contact-touch-content d-flex flex-column align-items-center">
                    <span class="contact-touch-icon width-88 height-88 dominant-color icon-24 d-flex align-items-center justify-content-center extra-bg meb-25 rounded-circle"><i class="ri-map-pin-range-line d-block lh-1"></i></span>
                    <div class="ul-mtm20">
                        <span>Yours Address1</span>
                        <span>Yours Address2</span>
                        @* <span>Karnataka 560001, India</span> *@
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 animate__fadeIn animate__animated" data-animate="animate__fadeIn">
                <div class="contact-touch-content d-flex flex-column align-items-center">
                    <span class="contact-touch-icon width-88 height-88 dominant-color icon-24 d-flex align-items-center justify-content-center extra-bg meb-25 rounded-circle"><i class="ri-phone-line d-block lh-1"></i></span>
                    <div class="ul-mtm20">
                        <span><a href="tel:+919876543210" class="d-inline-block body-dominant-color">+91 98765-43210</a></span>
                        <span><a href="tel:+919876543210" class="d-inline-block body-dominant-color">+91 98765-43210</a></span>
                        @* <span><a href="tel:+919988765432" class="d-inline-block body-dominant-color">+91 99887-65432</a></span> *@
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 animate__fadeIn animate__animated" data-animate="animate__fadeIn">
                <div class="contact-touch-content d-flex flex-column align-items-center">
                    <span class="contact-touch-icon width-88 height-88 dominant-color icon-24 d-flex align-items-center justify-content-center extra-bg meb-25 rounded-circle"><i class="ri-mail-line d-block lh-1"></i></span>
                    <div class="ul-mtm20">
                        <span><a href="mailto:info@demowebsite.com" class="d-inline-block body-dominant-color">email.com</a></span>
                        <span><a href="mailto:info@demowebsite.com" class="d-inline-block body-dominant-color">email2.com</a></span>
                        @* <span><a href="mailto:hello@demowebsite.com" class="d-inline-block body-dominant-color">hello@demowebsite.com</a></span> *@
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>