
<!-- main start -->
<main id="main">
    <!-- shop-category-slider start -->
    <div class="shop-category-slider section-pt">
        <div class="container">
            <div class="shop-cat-category">
                <div class="shop-cat-wrap">
                    <div class="shop-cat-slider swiper" id="shop-cat-slider">
                        <div class="swiper-wrapper clsSubCategory">
@*                             <div class="swiper-slide" data-animate="animate__fadeIn">
                                <div class="shop-cat-block text-center">
                                    <span class="d-block shop-cat-img extra-bg border-radius">
                                        <a href="javascript:void(0)" class="d-block">
                                            <img src="~/images/collection-1.jpg" class="w-100 img-fluid" alt="collection-1">
                                        </a>
                                    </span>
                                    <span class="d-block shop-cat-title ptb-10 plr-15 extra-bg mst-15 text-uppercase heading-weight border-radius">
                                        <a href="javascript:void(0)" class="d-block w-100 dominant-link text-truncate">Notebook</a>
                                    </span>
                                </div>
                            </div>
                            <div class="swiper-slide" data-animate="animate__fadeIn">
                                <div class="shop-cat-block text-center">
                                    <span class="d-block shop-cat-img extra-bg border-radius">
                                        <a href="javascript:void(0)" class="d-block">
                                            <img src="~/images/collection-2.jpg" class="w-100 img-fluid" alt="collection-2">
                                        </a>
                                    </span>
                                    <span class="d-block shop-cat-title ptb-10 plr-15 extra-bg mst-15 text-uppercase heading-weight border-radius">
                                        <a href="javascript:void(0)" class="d-block w-100 dominant-link text-truncate">Pencil</a>
                                    </span>
                                </div>
                            </div>
                            <div class="swiper-slide" data-animate="animate__fadeIn">
                                <div class="shop-cat-block text-center">
                                    <span class="d-block shop-cat-img extra-bg border-radius">
                                        <a href="javascript:void(0)" class="d-block">
                                            <img src="~/images/collection-3.jpg" class="w-100 img-fluid" alt="collection-3">
                                        </a>
                                    </span>
                                    <span class="d-block shop-cat-title ptb-10 plr-15 extra-bg mst-15 text-uppercase heading-weight border-radius">
                                        <a href="javascript:void(0)" class="d-block w-100 dominant-link text-truncate">Pouch</a>
                                    </span>
                                </div>
                            </div>
                            <div class="swiper-slide" data-animate="animate__fadeIn">
                                <div class="shop-cat-block text-center">
                                    <span class="d-block shop-cat-img extra-bg border-radius">
                                        <a href="javascript:void(0)" class="d-block">
                                            <img src="~/images/collection-4.jpg" class="w-100 img-fluid" alt="collection-4">
                                        </a>
                                    </span>
                                    <span class="d-block shop-cat-title ptb-10 plr-15 extra-bg mst-15 text-uppercase heading-weight border-radius">
                                        <a href="javascript:void(0)" class="d-block w-100 dominant-link text-truncate">Sticker</a>
                                    </span>
                                </div>
                            </div>
                            <div class="swiper-slide" data-animate="animate__fadeIn">
                                <div class="shop-cat-block text-center">
                                    <span class="d-block shop-cat-img extra-bg border-radius">
                                        <a href="javascript:void(0)" class="d-block">
                                            <img src="~/images/collection-5.jpg" class="w-100 img-fluid" alt="collection-5">
                                        </a>
                                    </span>
                                    <span class="d-block shop-cat-title ptb-10 plr-15 extra-bg mst-15 text-uppercase heading-weight border-radius">
                                        <a href="javascript:void(0)" class="d-block w-100 dominant-link text-truncate">Tape</a>
                                    </span>
                                </div>
                            </div>
                            <div class="swiper-slide" data-animate="animate__fadeIn">
                                <div class="shop-cat-block text-center">
                                    <span class="d-block shop-cat-img extra-bg border-radius">
                                        <a href="javascript:void(0)" class="d-block">
                                            <img src="~/images/collection-6.jpg" class="w-100 img-fluid" alt="collection-6">
                                        </a>
                                    </span>
                                    <span class="d-block shop-cat-title ptb-10 plr-15 extra-bg mst-15 text-uppercase heading-weight border-radius">
                                        <a href="javascript:void(0)" class="d-block w-100 dominant-link text-truncate">Eye machine</a>
                                    </span>
                                </div>
                            </div>
                            <div class="swiper-slide" data-animate="animate__fadeIn">
                                <div class="shop-cat-block text-center">
                                    <span class="d-block shop-cat-img extra-bg border-radius">
                                        <a href="javascript:void(0)" class="d-block">
                                            <img src="~/images/collection-7.jpg" class="w-100 img-fluid" alt="collection-7">
                                        </a>
                                    </span>
                                    <span class="d-block shop-cat-title ptb-10 plr-15 extra-bg mst-15 text-uppercase heading-weight border-radius">
                                        <a href="javascript:void(0)" class="d-block w-100 dominant-link text-truncate">Stethoscope</a>
                                    </span>
                                </div>
                            </div> *@
                        
                        </div>
                    </div>
                    <div class="swiper-buttons">
                        <div class="swiper-buttons-wrap">
                            <button type="button" class="swiper-prev swiper-prev-shop-cat" aria-label="Arrow previous">
                                <i class="ri-arrow-left-line d-block lh-1"></i>
                            </button>
                            <button type="button" class="swiper-next swiper-next-shop-cat" aria-label="Arrow next">
                                <i class="ri-arrow-right-line d-block lh-1"></i>
                            </button>
                        </div>
                    </div>
                    <div class="swiper-dots">
                        <div class="swiper-pagination swiper-pagination-shop-cat"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- shop-category-slider end -->
   
    <!-- shop-content start -->
    <section class="shop-content section-ptb">
        <div class="container">
            <div class="row align-items-xl-start">
                <!-- shop-sidebar start -->
                <div class="col-12 col-xl-3 p-xl-sticky top-0">
                    <div class="shop-sidebar-wrap shop-filter-sidebar" data-animate="animate__fadeIn">
                        <button type="button" class="shop-sidebar-close body-secondary-color icon-16 position-absolute" aria-label="Close">
                            <i class="ri-close-large-line d-block lh-1"></i>
                        </button>
                        <form class="shop-form" action="javascript:void(0)" id="shopForm">
                           
                            <!-- shop-availability start -->
                            @* <div class="shop-sidebar availability">
                                <h6 class="font-18">Availability</h6>
                                <div class="shop-header d-flex justify-content-between mst-18">
                                    <span class="shop-selected">2 selected</span>
                                    <button type="submit" class="shop-reset body-secondary-color text-decoration-underline">Reset</button>
                                </div>
                                <div class="shop-element mst-21">
                                    <ul class="shop-filters ul-mtm20">
                                        <li>
                                            <label class="cust-checkbox-label d-flex align-items-center justify-content-between">
                                                <input type="checkbox" id="shop-in-stock" name="shop-in-stock" class="cust-checkbox" value="in-stock" checked>
                                                <span class="d-block cust-check"></span>
                                                <span class="shop-name me-auto">In stock</span>
                                                <span class="shop-count">12</span>
                                            </label>
                                        </li>
                                        <li>
                                            <label class="cust-checkbox-label d-flex align-items-center justify-content-between disabled">
                                                <input type="checkbox" id="shop-out-of-stock" name="shop-out-of-stock" class="cust-checkbox" value="out-of-stock" checked>
                                                <span class="d-block cust-check"></span>
                                                <span class="shop-name me-auto">Out of stock</span>
                                                <span class="shop-count">1</span>
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                            </div> *@
                            <!-- shop-sidebar availability end -->
                            <!-- shop-sidebar price start -->
                            <div class="shop-sidebar price">
                                <h6 class="font-18">Price</h6>                               
                                <div class="shop-element mst-24">
                                    <div class="price-input-range">
                                        <div class="price-range">
                                            <div class="price-container">
                                                <div class="price-slider"></div>
                                            </div>
                                            <div class="range-input position-relative">
                                                <input type="range" class="min-range position-absolute w-100 p-0 bg-transparent border-0 priceMinRange">
                                                <input type="range" class="max-range position-absolute w-100 p-0 bg-transparent border-0 priceMaxRange">
                                            </div>
                                        </div>
                                        <div class="price-input d-flex align-items-center mst-30">
                                            <div class="price-field position-relative w-100">
                                                <span class="price-input-title position-absolute top-0 start-0">From</span>
                                                <span class="price-input-prefix position-absolute top-50 translate-middle-y">&#8377; </span>
                                                <input type="number" disabled id="min-price" name="min-price" class="min-input w-100 h-100 text-end" >
                                            </div>
                                            <div class="price-input-separator mlr-15">-</div>
                                            <div class="price-field position-relative w-100">
                                                <span class="price-input-title position-absolute top-0 start-0">To</span>
                                                <span class="price-input-prefix position-absolute top-50 translate-middle-y">&#8377; </span>
                                                <input type="number" disabled id="max-price" name="max-price" class="max-input w-100 h-100 text-end">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- shop-sidebar price end -->
                            <!-- shop-availability start -->
                           @*  <div class="shop-sidebar availability">
                                <h6 class="font-18">Availability</h6>                             
                                <div class="shop-element mst-21">
                                    <ul class="shop-filters ul-mtm20">
                                        <li>
                                            <label class="cust-checkbox-label d-flex align-items-center justify-content-between">
                                                <input type="checkbox" id="shop-in-stock" name="shop-in-stock" class="cust-checkbox" value="in-stock" checked>
                                                <span class="d-block cust-check"></span>
                                                <span class="shop-name me-auto">In stock</span>
                                                <span class="shop-count">12</span>
                                            </label>
                                        </li>
                                        <li>
                                            <label class="cust-checkbox-label d-flex align-items-center justify-content-between">
                                                <input type="checkbox" id="shop-out-of-stock" name="shop-out-of-stock" class="cust-checkbox" value="out-of-stock" checked>
                                                <span class="d-block cust-check"></span>
                                                <span class="shop-name me-auto">Out of stock</span>
                                                <span class="shop-count">1</span>
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                            </div> *@
                            <!-- shop-sidebar availability end -->
                        
                        </form>
                    </div>
                
                </div>
                <!-- shop-sidebar end -->
                <div class="col-12 col-xl-9 p-xl-sticky top-0">
                    <!-- collection-info start -->
                    <div class="row row-mtm" data-animate="animate__fadeIn">
                        
                        <!-- shop-top-bar start -->
                        <div class="shop-top-bar">
                            <div class="row  align-items-md-center">
                                <div class="col-12 col-sm-6 col-md-7 col-lg-8">
                                    <div class="shop-filter-view ul-mt15 align-items-center">
                                        <!-- shop-filter start -->
                                        <div class="shop-filter">
                                            <button type="button" class="shop-filter-btn secondary-color d-flex align-items-center">
                                                <i class="ri-filter-line icon-16 mer-5"></i>
                                                Filter
                                            </button>
                                        </div>
                                        <!-- shop-filter end -->
                                        <!-- shop-view-mode start -->
                                        @* <div class="shop-view-mode">
                                            <div class="ul-mt15">
                                                <button type="button" class="shop-view-btn dominant-color icon-16 opacity-100 disabled" data-view="grid" aria-label="Grid view">
                                                    <i class="ri-layout-grid-line d-block lh-1"></i>
                                                </button>
                                                <button type="button" class="shop-view-btn body-color icon-16 opacity-100" data-view="list" aria-label="List view">
                                                    <i class="ri-list-unordered d-block lh-1"></i>
                                                </button>
                                            </div>
                                        </div> *@
                                        <!-- shop-view-mode end -->
                                        <!-- shop-show-product start -->
                                        <div class="shop-show-product">Showing  <span class="spn-current-avail-count">12</span>  of  <span class="spn-total-avail-count">12</span> products</div>
                                        <!-- shop-show-product end -->
                                    </div>
                                </div><div class="col-12 col-sm-6 col-md-5 col-lg-4">
                                <!-- shop-short start -->
                                <div class="shop-short d-flex flex-wrap position-relative">
                                <label for="sortby" class="width-64 secondary-color heading-weight">Sort by:</label>
                                <select onchange="handleSorting()" id="sortby" name="sortby" class="d-xl-none width-calc-64 h-auto ptb-0 bg-transparent border-0">
                                <option value="title-ascending" >Alphabetically, A-Z</option>
                                <option value="title-descending">Alphabetically, Z-A</option>
                                 <option value="price-ascending" selected>Price, low to high</option>
                                <option value="price-descending">Price, high to low</option>
                                </select>
                                <a href="javascript:void(0)" class="short-title width-calc-64 body-color d-none d-xl-flex align-items-xl-start justify-content-xl-between">
                                            <span class="sort-title">Price, low to high</span>
                                <span class="sort-icon heading-weight">
                                <i class="ri-arrow-down-s-line d-block lh-1"></i>
                                </span>
                                </a>
                                <ul class="collapse position-absolute top-100 start-0 end-0 ptb-5 body-bg z-1 DropDownSlide br-hidden box-shadow" id="select-wrap">


                                <li >
                                <a href="javascript:void(0)" data-value="title-ascending" class="d-block secondary-color ptb-5 plr-15 extra-bg">Alphabetically, A-Z</a>
                                </li>
                                <li>
                                <a href="javascript:void(0)" data-value="title-descending" class="d-block body-dominant-color ptb-5 plr-15">Alphabetically, Z-A</a>
                                </li>
                                <li class="selected">
                                <a href="javascript:void(0)" data-value="price-ascending" class="d-block body-dominant-color ptb-5 plr-15">Price, low to high</a>
                                </li>
                                <li>
                                <a href="javascript:void(0)" data-value="price-descending" class="d-block body-dominant-color ptb-5 plr-15">Price, high to low</a>
                                </li>
                                </ul>
                                </div>
                                <!-- shop-short end -->
                                </div>
                                
                            </div>
                        </div>
                        <!-- shop-top-bar end -->
                     
                        <div class="shop-product-wrap data-grid">
                            <!-- shop-grid start -->
                            <div class="row row-mtm30 dvclsavailability">
                              
                            </div>
                            <!-- shop-grid end -->
                            <!-- paginatoin start -->
                            @* <div class="paginatoin-area section-pt" data-animate="animate__fadeIn">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination ul-mt5 align-items-center justify-content-center pagination-box">
                                        <li class="page-item first">
                                            <a href="javascript:void(0)" class="page-link p-0 m-0 bg-transparent heading-weight border-0 lh-1" aria-label="First page">First</a>
                                        </li>
                                        <li class="page-item prev">
                                            <a href="javascript:void(0)" class="page-link icon-16 d-flex align-items-center justify-content-center p-0 m-0 bg-transparent heading-weight border-0 border-radius" aria-label="Previous">
                                                <i class="ri-arrow-left-line d-block lh-1"></i>
                                            </a>
                                        </li>
                                        <li class="page-item">
                                            <a href="javascript:void(0)" class="page-link active d-flex align-items-center justify-content-center p-0 m-0 heading-weight border-0 border-radius lh-1" aria-label="Page number">1</a>
                                        </li>
                                        <li class="page-item">
                                            <a href="javascript:void(0)" class="page-link  d-flex align-items-center justify-content-center p-0 m-0 heading-weight border-0 border-radius lh-1" aria-label="Page number">2</a>
                                        </li>
                                        <li class="page-item">
                                            <a href="javascript:void(0)" class="page-link d-flex align-items-center justify-content-center p-0 m-0 heading-weight border-0 border-radius lh-1" aria-label="Page number">3</a>
                                        </li>
                                        <li class="page-item next">
                                            <a href="javascript:void(0)" class="page-link icon-16 d-flex align-items-center justify-content-center p-0 m-0 bg-transparent heading-weight border-0 border-radius" aria-label="Next">
                                                <i class="ri-arrow-right-line d-block lh-1"></i>
                                            </a>
                                        </li>
                                        <li class="page-item last">
                                            <a href="javascript:void(0)" class="page-link p-0 m-0 bg-transparent heading-weight border-0 lh-1" aria-label="Last page">Last</a>
                                        </li>
                                    </ul>
                                </nav>
                            </div> *@
                            <!-- paginatoin end -->
                        </div>
                    </div>
                    <!-- collection-info end -->
                </div>
            </div>
        </div>
    </section>
    <!-- shop-content start -->
</main>
<!-- main end -->
<script src="~/js/availability.js"></script>
<script>
    var subCategoryBuilder = "";
    const queryString = window.location.search;
    const params = new URLSearchParams(queryString);
    
    debugger
    function InvokeProductsCallback() {
        
       if(productJson && productJson.length > 0) {
           var currentAllProducts = $.grep(productJson, function (v, j) {
               return v.categoryName == params.get("type")
           });
            var subCategoryId = 1;
            var productId = 1;
           $.map(currentAllProducts[0].subCategory, function (subCategory, index) {
               subCategory.status = subCategory.status || "Active"
               if (subCategory.status == "Active") {
                   subCategory.subCategoryId = subCategoryId;
                   $.map(subCategory.products, function (product, subIndex) {
                       product.productId = productId;
                       product.subCategoryId = subCategoryId;
                       TotalProducts.push(product);
                       productId++;
                   });
                   subCategoryId++;
               }
           });


            subCategoryBuilder += '<div data-subcategoryid = "all" onclick="SelectCategory(this)" class="swiper-slide animate__fadeIn animate__animated" data-animate="animate__fadeIn">';
            subCategoryBuilder += '<div class="shop-cat-block text-center">';
            subCategoryBuilder += '<span class="d-block shop-cat-img extra-bg border-radius">';
            subCategoryBuilder += '<a href="javascript:void(0)" class="d-block">';
            subCategoryBuilder += '<img src="' + imagesRootPath + 'banner-1.jpg" class="w-100 img-fluid" alt = "banner-1">';
            subCategoryBuilder += '</a>';
            subCategoryBuilder += '</span>';
            subCategoryBuilder += '</span>';
            subCategoryBuilder += '<span class="d-block shop-cat-title ptb-10 plr-15 extra-bg mst-15 text-uppercase heading-weight border-radius">';
            subCategoryBuilder += '<a href="javascript:void(0)" data-subcategoryid = "all"  class="d-block w-100 dominant-link text-truncate active"> ALL (' + TotalProducts.length + ') <span  class="activeIcon"> <i class="ri-check-double-line"></i> </span> </a>  ';
            subCategoryBuilder += '</span>';
            subCategoryBuilder += '</div>';
            subCategoryBuilder += '</div>';

           

          

           $.map(currentAllProducts[0].subCategory, function (subCategory, index) {
               var imageUrl = imagesRootPath + subCategory.subCategoryImagepath;
               var currentSubCategory = $.grep(TotalProducts, function (v, j) {
                   return v.subCategoryId == subCategory.subCategoryId;
               });
               subCategory.status = subCategory.status || "Active";
               if(subCategory.status == "Active"){
                    subCategoryBuilder += '<div  onclick="SelectCategory(this)" class="swiper-slide animate__fadeIn animate__animated" data-animate="animate__fadeIn">';
                    subCategoryBuilder += '<div class="shop-cat-block text-center">';
                    subCategoryBuilder += '<span class="d-block shop-cat-img extra-bg border-radius">';
                    subCategoryBuilder += '<a href="javascript:void(0)" class="d-block">';
                    subCategoryBuilder += '<img src="' + imageUrl + '" class="w-100 img-fluid" style="max-height:160px;" alt = ' + subCategory.subCategoryName + '>';
                    subCategoryBuilder += '</a>';
                    subCategoryBuilder += '</span>';
                    subCategoryBuilder += '</span>';
                    subCategoryBuilder += '<span class="d-block shop-cat-title ptb-10 plr-15 extra-bg mst-15 text-uppercase heading-weight border-radius">';
                    subCategoryBuilder += '<a href="javascript:void(0)" data-subcategoryid = "' + subCategory.subCategoryId + '" class="d-block w-100 dominant-link text-truncate"> ' + subCategory.subCategoryName + ' (' + currentSubCategory.length + ')' + '<span style = "display:none" class="activeIcon" > <i class="ri-check-double-line" > </i> </span > </a>';
                    subCategoryBuilder += '</span>';
                    subCategoryBuilder += '</div>';
                    subCategoryBuilder += '</div>';
               }               
           });
            $(".clsSubCategory").html(subCategoryBuilder);            

           var mainProductBuilder = "";
           
            TotalProducts = TotalProducts.sort((a, b) => a.sellingPrice - b.sellingPrice);
           $("#min-price").val(TotalProducts[0].sellingPrice);
            $("#max-price").val(TotalProducts[TotalProducts.length-1].sellingPrice);

            $('.priceMinRange').attr({
                min: Math.floor(TotalProducts[0].sellingPrice), // New minimum value
                max: TotalProducts[TotalProducts.length - 1].sellingPrice  // New maximum value
            });

            // Set min and max values for the max range input
            $('.priceMaxRange').attr({
                min: Math.floor(TotalProducts[0].sellingPrice), // New minimum value
                max: TotalProducts[TotalProducts.length - 1].sellingPrice  // New maximum value
            });

            // Optionally, update the current values of the sliders
            $('.priceMinRange').val(Math.floor(TotalProducts[0].sellingPrice)); // Set min range slider value
            $('.priceMaxRange').val(TotalProducts[TotalProducts.length - 1].sellingPrice); // Set max range slider value

            $(".spn-total-avail-count , .spn-current-avail-count").html(TotalProducts.length);
           $.map(TotalProducts, function (product, subIndex) {
               mainProductBuilder += bindProdcuts(product);
           });
          
            $(".dvclsavailability").html(mainProductBuilder)
        }
        else {
           FetchProductJson();
        }
       
    }

  
</script>
